

#formId {

    width: 100%;
    height: 100vh;
    background-color: inherit;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}


#radios,
#select select,
#num,
#butt,
#date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 20%;
    box-shadow: 10px 5px 20px 5px;
    width: 70vh;
    height: 100px;  
    text-align: center;  
    font-size: 40px;
    background-color: inherit;
    gap: 30px;
}

section {

    width: 50%;
}
#date input,
#num input {
    width: 60vh;
    height: 60px;
    font-size: 40px;
}

#inc,
#exp {
    display: none;
}
